{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    ["@semantic-release/exec", {
      "prepareCmd" : "poetry version ${nextRelease.version}; ./build_demo.sh; node scripts/updateVersion.js ${nextRelease.version}"
    }],
    ["@semantic-release/git", {
      "assets": ["package.json", "pyproject.toml", "docs"]
    }],
    "@semantic-release/github"
  ]
}
