{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/npm", {
      "npmPublish": false
    }],

    ["@semantic-release/exec", {
      "prepareCmd" : "poetry version ${nextRelease.version}"
    }],
    ["@semantic-release/git", {
      "assets": ["package.json", "pyproject.toml"]
    }],
    "@semantic-release/github"
  ]
}
