[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool]

[tool.poetry]
name="djlint"
version="1.34.1"
description="HTML Template Linter and Formatter"
license="GPL-3.0-or-later"
authors=["Christopher Pickering"]
maintainers=["Christopher Pickering", "monosans"]
readme="README.md"
repository="https://github.com/djlint/djLint"
documentation="https://djlint.com"
classifiers=[
        "Programming Language :: Python :: 3",
        "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
        "Operating System :: OS Independent",
    ]
packages = [
    { include = "djlint", from = "src" },
]
include = ["rules.yaml"]

[tool.poetry.dependencies]
python = "^3.8.0,<4.0"
click = "^8.0.1"
colorama = "^0.4.4"
cssbeautifier = "^1.14.4"
html-tag-names = "^0.1.2"
html-void-elements = "^0.1.0"
jsbeautifier = "^1.14.4"
json5 = "^0.9.11"
pathspec = "^0.12.0"
PyYAML = "^6.0"
regex = ">=2023,<2025"
tomli = { version = "^2.0.1", python = "<3.11" }
tqdm = "^4.62.2"

[tool.poetry.scripts]
djlint = "djlint:main"


[tool.poetry.group.dev.dependencies]
black = ">=23.1,<25.0"
isort = "^5.12.0"
coverage = "^7.2.2"
pytest = ">=7.2.2,<9.0.0"
pytest-cov = ">=4,<6"
pytest-xdist = "^3.2.1"
ruff = ">=0.1,<0.7"
mypy = "^1.1.1"
types-pyyaml = "^6.0.12.8"
tox = "^4.4.8"

[tool.black]
max_line_length = 99
quiet = true

[tool.isort]
profile = "black"
quiet = true

[tool.mypy]
ignore_missing_imports = true

[tool.ruff]
line-length = 146
select = [
    "A",
    "C4",
    "D",
    "DJ",
    "E",
    "F",
    "I",
    "N",
    "PL",
    "PT",
    "SIM",
    "T20",
    "W",
]
target-version = "py311"
ignore = ["E501", "PLR0913", "PLR0915", "PLR0912", "D203", "D213", "PLW1510"]

[tool.ruff.per-file-ignores]
"tests/*" = ["N802", "D103", "T201", "D104", "PLR0915", "PLR2004"]
"src/djlint/__init__.py" = ["D403"]
"src/djlint/formatter/__init__.py" = ["D104"]
"src/djlint/formatter/css.py" = ["PLW2901"]
"src/djlint/formatter/js.py" = ["PLW2901"]
"src/djlint/lint.py" = ["PLW2901"]
"src/djlint/formatter/indent.py" = ["SIM114", "E722"]

[tool.ruff.mccabe]
max-complexity = 10
