 
{% if   abc == 101 %}
 interface Ethernet1/2
   description // Connected to leaf-2
   no switchport
   ip address 10.1.2.1/30
   ip router ospf 1 area 0.0.0.0
   no shutdown
{% endif %}


{% if abc == 102 %}
 interface Ethernet1/2
   description // Connected to leaf-2
   no switchport
   ip address 10.1.2.1/30
   ip router ospf 1 area 0.0.0.0
   no shutdown
{% endif %}

{% if abc == 103 %}
 interface Ethernet1/2
   description // Connected to leaf-2
   no switchport
   ip address 10.1.2.1/30
   ip router ospf 1 area 0.0.0.0
   no shutdown
{% endif %}
