---
layout: layout.njk
---

<div class="container">
<div class="columns">
<div class="column is-narrow mr-5">

<aside class="menu is-sticky">
<!--<div id="search-wrap">
                <form id="search-form"
                      class="mb-3"
                      style="position: relative;">
                    <div class="control has-icons-left is-flex-grow-1">
                        <span class="icon is-small is-left"><span class="icon">
  <i class="fas fa-search"></i>
</span></span>
                        <input id="search"
                               class="input"
                               type="text"
                               label="search"
                               placeholder="search the docs ..."/>
                    </div>
                    <div id="search-results" class="panel has-background-white"></div>
                </form>

            </div>-->
  <p class="menu-label">
    Documentation
  </p>
  <ul class="menu-list">

        <li><a class="{% if page.url == "/docs/getting-started/" %}is-active{% endif %}" href="/docs/getting-started/">Getting Started</a></li>
        <li><a class="{% if page.url == "/docs/formatter/" %}is-active{% endif %}" href="/docs/formatter/">Formatter</a></li>
        <li><a class="{% if page.url == "/docs/linter/" %}is-active{% endif %}" href="/docs/linter">Linter</a></li>
        <li><a class="{% if page.url == "/docs/configuration/" %}is-active{% endif %}" href="/docs/configuration/">Configuration</a></li>
        <li><a class="{% if page.url == "/docs/integrations/" %}is-active{% endif %}" href="/docs/integrations">Integrations</a></li>
        <li><a class="{% if page.url == "/docs/best-practices/" %}is-active{% endif %}" href="/docs/best-practices/">Best Practices</a></li>
        <li><a class="{% if page.url == "/docs/changelog/" %}is-active{% endif %}" href="/docs/changelog">Changelog</a></li>
    </ul>
</aside>
</div>
<div class="column mb-5">
{{ content | safe }}
</div>
</div>
