<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <figure class="image" style="max-width: 100px;">
                    {% image "./src/static/img/icon.png", "djlint icon", "(min-width:100px) 50vw, 100vw" %}
                </figure>
                <p class="my-4">
                    {{ "description" | i18n }}
                </p>
            </div>
            <div class="column"></div>
            <div class="column">
                <p class="copyright has-text-grey-dark has-text-right">
                    djLint | ©{{ page.date | year }}
                </p>
                <p class="has-text-grey-dark has-text-right mt-2">
                    <small>{{ "footer_credits" | i18n | safe }}</small>
                </p>
                <p class="has-text-right pt-3">
                  <a href="https://analytics.djlint.com/share/fdd3vGz2/djlint.com" target="_blank"><small>{{ "site_analytics" | i18n }}</small></a>
                </p>
            </div>
        </div>
    </div>
</footer>
