<nav class="navbar djlint-nav is-white is-fixed-top"
     aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/">{% image "./src/static/img/icon.png", "djlint icon", "(min-width:600px) 50vw, 100vw" %}</a>
            <a role="button"
               class="navbar-burger"
               aria-label="menu"
               aria-expanded="false"
               data-target="djlint-nav-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="djlint-nav-menu" class="navbar-menu">
        <div class="my-5 is-justify-content-center">

        <a class="navbar-item has-text-grey" href="/docs/getting-started/">
            Getting Started
        </a>

        <a class="navbar-item has-text-grey" href="/docs/formatter/">
            Formatter
        </a>
         <a class="navbar-item has-text-grey" href="/docs/linter/">
            Linter
        </a>
        <a class="navbar-item has-text-grey" href="/docs/configuration">
            Configuration
        </a>
        <a class="navbar-item has-text-grey" href="/docs/integrations">
            Integrations
        </a>
        <a class="navbar-item has-text-grey" href="/docs/best-practices">
            Best Practices
        </a>
        </div>
        <div class="navbar-end">
        <a class="navbar-item button is-white animated fadeIn"
               href="https://github.com/Riverside-Healthcare/djlint"
               target="_blank"
               rel="noopener">
                <span class="icon is-large has-text-grey">
                    <i class="fab fa-2x fa-github"></i>
                </span>
            </a>
             <a class="navbar-item button is-white animated fadeIn"
                       href="https://discord.gg/taghAqebzU"
                       target="_blank"
                       rel="noopener">
                        <span class="icon is-large has-text-grey">
                            <i class="fab fa-2x fa-discord"></i>
                        </span>
                    </a>

                     <a class="navbar-item button is-white animated fadeIn"
                       href="https://pypi.org/project/djlint/"
                       target="_blank"
                       rel="noopener">
                        <span class="icon is-large has-text-grey">
                            <i class="fab fa-2x fa-download"></i>
                        </span>
                    </a>

</div>
          </div>          

        
    </div>
</div>
</nav>
