@use '../../../node_modules/@fontsource/inter/scss/mixins' as Inter;
@use '../../../node_modules/@fontsource/rasa/scss/mixins' as Rasa;
@use '../../../node_modules/@fontsource/crimson-pro/scss/mixins' as Crimson;
$link-hover: hsl(207, 61%, 44%);
$link: hsl(207, 61%, 44%);

@import '../../../node_modules/bulma/bulma';
@import '../../../node_modules/bulma-pricingtable/src/sass/index';
@import '../../../node_modules/@creativebulma/bulma-divider/src/sass/index';

$use-all: true;
$use-slideInDown: true;
@import '../../../node_modules/animate-sass/animate';

@import '../font/fontawesome/stylesheet';

/* purgecss start ignore */

pre .tag {
  align-items: unset;
  background-color: unset;
  border-radius: unset;
  color: unset;
  display: unset;
  font-size: unset;
  height: unset;
  justify-content: unset;
  line-height: unset;
  padding-left: unset;
  padding-right: unset;
  white-space: unset;
}
pre .section {
  padding: unset;
}

@import '../../../node_modules/prismjs/themes/prism-tomorrow';

@include Inter.faces(
  $family: Inter,
  $weights: (
    400,
    600,
    700,
  ),
  $display: swap,
  $subsets: latin,
  $directory: '/static/font/inter/files/'
);

@include Rasa.faces(
  $family: Rasa,
  $weights: (
    300,
    500,
    600,
    700,
  ),
  $display: swap,
  $subsets: latin,
  $directory: '/static/font/rasa/files/'
);

@include Crimson.faces(
  $family: 'Crimson Pro',
  $weights: 400,
  $display: swap,
  $subsets: latin,
  $directory: '/static/font/crimson-pro/files/'
);

html {
  height: 100%;
}

body {
  font-family: 'Inter', Arial, Verdana, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.title {
  font-family: 'Rasa', Georgia, 'Times New Roman', Times, serif;
}
.huge {
  font-size: 100px;
}

.djlint-nav {
  padding-left: 15px;
}
.djlint-nav .navbar-brand a {
  margin-top: auto;
  margin-bottom: auto;
}

body.has-navbar-fixed-top,
html.has-navbar-fixed-top {
  padding-top: 118px;
}
.djlint-nav .navbar-brand img {
  width: auto;
  height: 40px !important;
  margin-top: 6px;
  margin-bottom: -2px;
}

.is-flex-widescreen {
  display: none !important;
}
@media screen and (min-width: $widescreen) {
  .djlint-nav {
    padding: 15px 0;
  }

  .djlint-nav .navbar-brand img {
    height: 56px !important;
  }

  .is-flex-widescreen {
    display: flex !important;
  }
}

.image.brand {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image.brand img {
  max-width: 200px;
  max-height: 200px;
}

a.navbar-item:hover,
a.navbar-link:hover,
.navbar-item.has-dropdown:hover .navbar-link {
  background: transparent;
}

.hero-body {
  background-color: rgba(167, 200, 204, 0.7);
}

.hero-two {
  background-color: rgba(0, 68, 106, 0.08);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

.is-nav-icon .fa-2x {
  font-size: 1.6em;
}

/* fix for prism in bulma */
pre .number {
  background-color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  height: inherit;
  min-width: inherit;
  text-align: inherit;
  vertical-align: inherit;
}

.navbar-item.button {
  margin: 13px;
  margin-top: auto;
  margin-bottom: auto;
}

.mail-icon > img {
  margin-top: 3px;
}
/* comparison */
.plan-item .icon {
  height: auto;
}
.plan-item .icon svg {
  height: 15px;
  width: 15px;
}

.pricing-table .pricing-plan .plan-group {
  align-content: center;
  background-color: #fff;
  color: #4a4a4a;
  font-size: $size-6;
  font-weight: 600;
  padding: 0.75em;
  text-align: center;
}

.pricing-table .pricing-plan .plan-header {
  font-size: $size-6;
}

.icon.is-huge {
  height: 2.5em;
  width: 2.5em;
}

.story {
  font-family: Crimson Pro, Georgia, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6666666667;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

// tabs

.tab-container {
  @extend %block;
}
.tab-container .tab {
  display: none;
}

.tab-container .tab.is-active {
  display: initial;
}

// admonitions
.message-header .icon svg {
  height: $size-6;
  padding-right: 10px;
}

.message.note {
  border-width: $message-body-border-width;
  border-style: solid;
  border-color: $info;
  background-color: $white;
  padding: 0;
}
.message.hint {
  border-width: $message-body-border-width;
  border-style: solid;
  border-color: $success;
  background-color: $white;
  padding: 0;
}
.message.alert {
  border-width: $message-body-border-width;
  border-style: solid;
  border-color: $danger;
  background-color: $white;
  padding: 0;
}
.message.note .message-header {
  color: $text;
  background-color: $info-light;
}

.message.hint .message-header {
  color: $text;
  background-color: $success-light;
}

.message.alert .message-header {
  color: $text;
  background-color: $danger-light;
}

.message.note .message-body,
.message.hint .message-body,
.message.alert .message-body {
  color: $text;
}

.image.is-35x35 {
  height: 35px;
  width: 35px;
}
/* menu collapse */

.is-collapsible,
.is-collapsible.is-active {
  transition: max-height 0.2s ease-out;
}

.is-collapsible {
  max-height: 0;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

.is-collapsible-menu {
  height: 0;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}
.is-collapsible-menu.is-active {
  height: auto;
}

.is-collapsible-menu:not(.is-active) {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.is-collapsible-menu .is-collapsible-menu {
  margin-bottom: 0 !important;
}

.menu .menu-label {
  font-weight: 600;
  font-size: unset;
  color: $grey-dark;
}

.menu li a.is-active {
  background: unset;
  color: unset;
  font-weight: 700;
}

.menu li.head > a {
  font-weight: 600;
}

.menu-list li.head ul {
  margin-left: 3px;
  padding-left: 20px;
}

.menu-list a:hover,
.menu li a:hover {
  background-color: unset;
}

pre:not(.CodeMirror-line) {
  margin-bottom: 1.5rem !important;
}

.column:not(.is-narrow) {
  min-width: 0px;
}

.is-inlineblock {
  display: inline-block !important;
}

.is-radius > img {
  border-radius: $radius;
}

.is-framed {
  max-width: 800px;
  border: 8px solid $grey-lightest;
  border-radius: 4px;
  border-top: 24px solid $grey-lightest;
  box-shadow: 0 0.5em 1em -0.125em #0a0a0a1a, 0 0 0 1px #0a0a0a05;
  position: relative;
}

.is-framed::before {
  border-radius: 10px;
  content: '';
  height: 15px;
  left: 0px;
  position: absolute;
  top: -19px;
  width: 15px;
  background: $grey-light;
}

.is-framed::after {
  border-radius: 10px;
  content: '';
  height: 15px;
  left: 20px;
  position: absolute;
  top: -19px;
  width: 15px;
  background: $grey-light;
}

.hero.is-white .hero-body {
  background-color: $white;
}

.hero {
  position: relative;
}

a.card:hover {
  box-shadow: 0 0.5em 2em -0.125em #0a0a0a1a, 0 0 0 1px #0a0a0a05;
}

.title {
  color: $grey-darker;
}
@media screen and (min-width: $tablet) {
  .is-sticky {
    position: sticky;
    top: 118px;
    bottom: 0;
    max-height: calc(100vh - 118px);
    overflow-y: scroll;
  }
}
@media screen and (min-width: $desktop) {
  .navbar.is-transparent a.is-info.navbar-item:hover {
    background-color: $info-dark !important;
  }
}
.navbar-item.button.is-white:hover {
  background: transparent !important;
}
.is-256x256 {
  max-height: 256px;
  max-width: 256px;
}
@media screen and (max-width: $tablet) {
  .main {
    padding: 0 15px;
  }
}
.animated[data-animate] {
  visibility: hidden;
}

.navbar-item .media img {
  max-height: unset !important;
}

.icon.is-5x {
  height: 6rem;
  width: 6rem;
}

.is-transparent,
.is-transparent:hover {
  background-color: transparent !important;
}
.is-rounded {
  border-radius: $radius;
}

pre[class*='language'] {
  border-radius: $radius;
}
/* purgecss end ignore */

.navbar-item.is-mega {
  position: static;

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: 0.375rem 1rem;
  }
}
