<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon">
        <link rel="canonical" href="https://appseed.us/adminlte"/>
        <title>
        AdminLTE Jinja -
        {% block title %}{% endblock %}
        | AppSeed
        </title>
        <!-- Specific Page CSS goes HERE -->
        {% block stylesheets %}{% endblock stylesheets %}
    </head>
    <body class="hold-transition {% block body_class %}{% endblock body_class %}">
        {% block content %}{% endblock content %}
        <!-- Specific Page JS goes HERE -->
        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
