<!-- list of good and complex attribute patterns -->
<input class="{% if this %}
                  then something neat
              {% else %}
                  that is long stuff asdf and more even
              {% endif %}"/>
<img data-src="{% if report.imgs.exists %}{{ report.imgs.first.get_absolute_url|size:"96x96" }}{% else %}{% static '/img/report_thumb_placeholder_400x300.png' %}{% endif %}"
     src="{% static '/img/loader.gif' %}"
     alt="report image"/>
<a class="asdf
          {% if favorite == "yes" %}
              favorite
          {% endif %}
          has-tooltip-arrow has-tooltip-right"
   data-tooltip="{% if favorite == "yes" %}
                     Remove from Favorites
                 {% else %}
                     Add to Favorites
                 {% endif %}"
   fav-type="report"
   object-id="{{ report.report_id }}"
   href="{% if %}{% endif %}">
    <span class="icon has-text-grey is-large">
        <i class="fas fa-lg fa-star"></i>
    </span>
</a>
<div class="media-content"
     {% ifchanged comment.stream_id %}
         comments-msg
     {% else %}
         comments-newMsgReply
     {% endifchanged %}>
</div>
<a class="piwik_download"
   href="{% static activity_version.get_win_document_with_images_file_path %}?{% now "jSFYHi" %}">
</a>
<span {% if a %}
          required
      {% endif %}
      title="{% if eev.status == eev.STATUS_CURRENT %}
                 {% trans 'A' %}
             {% elif eev.status == eev.STATUS_APPROVED %}
                 {% trans 'B' %}
             {% elif eev.status == eev.STATUS_EXPIRED %}
                 {% trans 'C' %}
             {% endif %}"
      class="asdf
             {% if a %}
                 b
             {% endif %}
             asdf"
      {% if a %}
          checked
      {% endif %}>
</span>
{% block body %}
    <form action="{% if gpg -%}asdf something pretty long. can't beat this length{%- endif %}"
          method="POST">
    </form>
{% endblock body %}
<ul class="menu-list
           {% for child in entry.children %}
               {% if child.url== page.url %}
                   is-active
               {% else %}
                   not-active
               {% endif %}
           {% endfor %}
           is-collapsible">
</ul>
<div {% if true %}
         class="test"
     {% endif %}
     {% include "django/forms/widgets/attrs.html" %}></div>
