name: CI
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  check:
    if: ${{ always() && github.event_name == 'pull_request' }}
    needs:
      - linkcheck
      - pre-commit
      - pytest
    runs-on: ubuntu-24.04
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
  linkcheck:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          check-latest: true
          cache: npm
      - run: npm install --ignore-scripts
        working-directory: docs
      - run: npm run build
        working-directory: docs
      - uses: untitaker/hyperlink@0.1.44
        with:
          args: docs/_site/
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false
      - run: uv tool run --no-cache --python 3.13 prek run --all-files --show-diff-on-failure
        env:
          RUFF_OUTPUT_FORMAT: github
  pytest:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.14"
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - run: uv run --locked --python ${{ matrix.python-version }} pytest
