name: Update wheels
on:
  push:
    branches:
      - master
    paths:
      - ./uv.lock
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  update-wheels:
    runs-on: ubuntu-24.04
    if: ${{ github.repository_owner == 'djlint' }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: pip
          check-latest: true
      - run: |
          rm -f *
          pip wheel --no-deps cssbeautifier EditorConfig jsbeautifier
          mv cssbeautifier-*.whl cssbeautifier-99-py3-none-any.whl
          mv EditorConfig-*.whl EditorConfig-99-py3-none-any.whl
          mv jsbeautifier-*.whl jsbeautifier-99-py3-none-any.whl
        working-directory: docs/src/static/py
      - id: generate-token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}
      - uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: "chore(deps): update wheels"
          branch: update/wheels
          delete-branch: true
          sign-commits: true
          title: "chore(deps): update wheels"
          body:
